amqp==1.4.9
anyjson==0.3.3
backcall==0.1.0
billiard==3.3.0.23
celery==3.1.23
celery-with-redis==3.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
Django==2.1.2
django-celery==3.3.1
django-redis==4.11.0
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
kombu==3.0.37
Mako==1.1.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
parso==0.6.2
pickleshare==0.7.5
prompt-toolkit==3.0.4
Pygments==2.6.1
PyMySQL==0.9.3
pytz==2019.3
qiniu==7.2.7
redis==3.4.1
requests==2.23.0
six==1.14.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
